<script language="javascript" src="jquery.min.js"></script>
<script language="javascript" src="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/fontawesome.min.css" />
<link rel="stylesheet" href="css/brands.min.css" />
<link rel="stylesheet" href="bootstrap-social.css" />

<a href="/auth/idp">Sign In with IdP</a><br />
<a class="btn btn-block btn-social btn-facebook" href="/auth/facebook"><span class="fab fa-facebook"></span> Sign In with Facebook</a>
<a class="btn btn-block btn-social btn-twitter" href="/auth/twitter"><span class="fab fa-twitter"></span> Sign In with Twitter</a>
<a class="btn btn-block btn-social btn-google" href="/auth/google"><span class="fab fa-google"></span> Sign In with Google</a>
<a class="btn btn-block btn-social btn-github" href="/auth/github"><span class="fab fa-github"></span> Sign In with GitHub</a>
<a class="btn btn-block btn-social btn-linkedin" href="/auth/linkedin"><span class="fab fa-linkedin"></span> Sign In with LinkedIn</a>
<a class="btn btn-block btn-social btn-alipay" href="/auth/alipay"><span class="fab fa-alipay"></span> Sign In with Alipay</a>
<a class="btn btn-block btn-social btn-qq" href="/auth/qq"><span class="fab fa-qq"></span> Sign In with QQ</a>
