<a href="/auth/idp">Log In with IdP</a>
<a href="/auth/facebook">Log In with Facebook</a>
<a href="/auth/twitter">Log In with Twitter</a>
<a href="/auth/google">Log In with Google</a>
<a href="/auth/github">Log In with Github</a>
